/* 
CSS for My Favorite Noun Project 
ICT-3 2017-18
*/

body {
	background-color: #ce2b37;
	color: #FFFFFF; 
	font-family: Arial;
}

h1, h2 {
	text-decoration: underline;
	font-family: Helvetica; 
}

p {
	font-family: Arial;
}

a {
	color: #009246;
	font-weight: bold; 
}

li {
	font-family: Times New Roman;
}

a:hover {
	font-size: 24px;
}
ol {
	list-style-type: lower-alpha;
}

img.left {
	box-shadow: 10px 10px 5px #888888;
	height: 320px;
	width: 200px;
	float: left;
}

img.right {
	box-shadow: 10px 10px 5px #888888;
	height: 320px;
	width: 200px;
	float: right;
	margin: 10px;
	
}

div.left {
	width: 50%;
	float: left;
}


div.right {
	width: 50%;
	float: right;
}

